/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  font-family: 'Courier New', Courier, monospace;
}

label{
  display: block;
}

h1{
  text-align: center;
}

.app{
  width: 400px;
  background-color: wheat;
  padding: 10px;
  margin: 30px auto;
  min-height: 500px;
}

.search-bar{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#task{
  height: 20px;
  width: 300px;
  text-align: center;
  border: 0;
  border-right: 0px transparent;
  font-family: 'Courier New', Courier, monospace;
}

.text{
  align-self: center;

}

#task:focus{
  outline: none;
}

#submit-btn{
  color: white;
  background-color: black;
  border: 0;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.number{
  display: inline;
  color: black;
}
.block{
  
  background-color: white;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  
}

.delete{
  font-family: 'Courier New', Courier, monospace;
  justify-self: flex-end;
  color: white;
  background-color: black;
  border: none;
  padding: 3px ;
}

.delete:hover{
  opacity: 0.8;
}